html { scroll-behavior: smooth; }

body {
    font-family: "JetBrains Mono", 'Segoe UI', sans-serif;
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #1D1C1A;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

main {
    width: 98%;
    margin: 0 auto;
}

dfn {
    text-decoration: underline;
}

/* Common CSS classes */
.hacker-green {
    color: #008f39;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

.number-gray {
    color: gray;
}

.right-arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

#famous-quote {
    background-color: #FFEE8C;
    padding: 5px;
    display: inline-block;
    margin-left: 0; 
}

/* Main */ 
#home-main section {
    margin-bottom: 30px;
}

#hacker-groups,
#famous-hackers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#hacker-groups article,
#famous-hackers article {
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

#hacker-groups h2,
#famous-hackers h2 {
    width: 100%;
}

#hacker-groups article {
    display: flex;
    flex-wrap: wrap; 
    max-width: 325px; 
    overflow: hidden;
    box-shadow: 1px 5px 5px #8F8F88;
    transition: transform 0.3s ease;
}

#hacker-groups article img {
    width: 100%; 
    object-fit: contain;
}

#hacker-groups article div:last-child {
    margin-top: auto;
}


#famous-hackers {
    justify-content: space-between;
}

#famous-hackers article {
    background-color: #1D1C1A;
    color: white;
    display: flex;
    align-items: center;
    width: 46%;
    transition: transform 0.3s ease;
    gap: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#famous-hackers h3 {
    color: inherit;
}

#famous-hackers article p {
    color: #F2F2F2;
}

#famous-hackers article img {
    width: 50%;
    height: 90%;
    border-radius: 3px;
    object-fit: cover;
    margin-left: 10px;
}

#hacker-groups article:hover {
    transform: translateY(-5px);
}

#famous-hackers article:hover {
    transform: translateX(5px);
}

#famous-cyberattacks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#famous-cyberattacks h2 {
    width: 100%;
}

.about { 
    text-align: justify;
}

#famous-cyberattacks article {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: 3px 1px 5px #8F8F88; 
    padding: 10px 5px 10px 20px;
    width: 33%;
}

#famous-cyberattacks article > div:last-child {
    margin-top: auto;
    width: 96%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#famous-cyberattacks article:hover .right-arrow {
    transform: translateX(5px);
}

/* Main -> #terms */
#terms {
    display: flex;
    flex-wrap: wrap;
}

#terms h2 {
    width: 100%;
}


#terms dl {
    display: inline-block;
    margin-right: 15px;
}

#terms dt {
    font-size: 14px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

#terms dt:hover {
    color: #8F8F88;
    transform:scale(1.1);
}

#terms dd {
    display: none;
}

/* Footer */
footer {
    padding-bottom: 10px;
}
